<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Sample ASP.NET 4.8 Application</title>
    <style type="text/css">
        body {
            background-color: rgb(30, 30, 30);
            color: lightgrey;
            font-family: Consolas, Courier New, Courier, monospace;
            font-size: 1.1em;
            margin: 20px;
        }

        a, a:visited {
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>Sample ASP.NET 4.8 Application</p>
        </footer>
    </div>
</body>
</html>
